h3 {
    color: brown;
    text-decoration: underline;
}

table {
    text-align: center;
    ali
}

h1 {
    font-variant: small-caps;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

body {
    background-image: url(moroccan-flower.png);
    text-align: center;

}

table tr th {
    color:peru;
}
